<h1>Teams</h1>

<table>
  <tr>
    <th>Team Name</th>
    <th>Average Age</th>
  </tr>
  <% @teams.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.average_age %></td>
    </tr>
  <% end %>

</table>