<h1>Teams Index</h1>

<table>
  <th>Teams</th>
  <th>Average Player Age</th>
  <% @teams.each do |team| %>
    <tr id="team-<%=team.id%>">
      <td><%= team.nickname %></td>
      <td><%= team.avg_age %></td>
    </tr>
  <% end %>
</table>
